version: "3.8"
services:
  nodeserver:
    build:
      context: ./node
    ports:
      - "5000:5000"
    networks:
      - nodenet
    volumes:
      - ./node:/usr/src/app
    container_name: node_app

  nginx:
    restart: always
    build:
      context: ./nginx
    ports:
      - "8080:80"
    networks:
      - nodenet
    container_name: nginx

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root

    networks:
      - nodenet

networks:
  nodenet:
    driver: bridge
